@media (max-width: 1280px) {
  .image-1-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 1em;
  }
  .jacket-heading {
    margin: 0;
    margin-left: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 0;
  }

  .contact-container {
    gap: 3em;
  }
  .box-for-asset {
    width: 11em;
  }
}
@media (max-width: 960px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-1-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1em;
  }
  .search-icon {
    top: 0.8em;
  }
  .jacket-heading {
    margin: 0;
    margin-left: 1.25em;
    margin-top: 1.25em;
  }
  #h2 {
    margin-left: 0;
  }
  .h4-margin-top {
    margin-left: 1.25em;
  }
  .about-us-item-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .jacket-name {
    font-size: 0.9em;
  }
  .payment-container {
    gap: 1em;
  }
  .footerLogo {
    width: 80%;
  }
  .payment-icon {
    width: 1.7em;
    height: 1.7em;
  }
}

/***********************Small laptop*******************************/

@media (max-width: 1050px) {
  .footer-box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card {
    width: 30%;
  }
  .image-1-box {
    margin-left: 8em;
    margin-right: 8em;
    justify-items: center;
  }

  .div-3-and-div-4 {
    align-self: flex-start;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .search-icon {
    top: 0.8em;
  }
  .jacket-heading {
    margin: 0;
    margin-left: 1.25em;
    margin-top: 1.25em;
  }
  .h4 {
    margin-left: 0;
  }
  .jacket-price-new-grid {
    font-size: 1.25em;
  }
  .grid-item-1 {
    width: 13em;
  }
  .cart-container {
    gap: 1.5em;
  }
  .about-us-item-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 2.5em;
  }
  .image-display-none {
    display: none;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-us-text-1 {
    max-width: 100%;
  }
  .about-us-item-2 {
    max-width: 100%;
  }

  .jacket-name {
    font-size: 0.9em;
  }
  .box-for-asset {
    width: 9em;
    height: 9em;
  }
  .jacket-price-new {
    font-size: 1.2em;
  }

  .payment-container {
    margin-top: 24em;
    margin-bottom: 25em;
    gap: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .payment-item-1,
  .payment-item-2 {
    align-self: center;
  }
  .payment-item-2 {
    width: 30em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .component1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: max-content;
    justify-items: center;
  }
  .product-cart {
    display: block;
  }
  .payment-input {
    width: 32em;
  }
}

/***********************Tablet *******************************/

@media (max-width: 810px) {
  .jacket-name {
    font-size: 0.9em;
  }
  .imageTitleDiv,
  .cart-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-row {
    gap: 1.3em;
    padding-bottom: 2em;
  }
  .small-asset {
    width: 60%;
  }

  .box-for-asset {
    width: 15em;
    height: 16em;
  }
  .jacket-price-new {
    font-size: 1.2em;
  }
  h2 {
    font-size: 3em;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .discount-box {
    display: none;
  }

  .icon-text {
    display: none;
  }

  .product-cart-asset {
    width: 18em;
    height: auto;
  }
  .search-bar {
    padding-right: 0.2em;
    width: 16em;
    height: 2.2em;
  }
  .search-icon {
    top: 0.8em;
  }
  .jacket-heading {
    margin: 0;
    margin-left: 1.25em;
    margin-top: 1.25em;
  }
  .horizontal-line {
    width: 7em;
  }
  .product-detail {
    margin-right: 1.25em;
  }
  .image-gallery-1 {
    width: 35em;
  }
  .about-us-item-2 {
    margin-left: 2.5em;
  }
  .image-display-none {
    display: none;
  }
  .about-us-item-2 {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .btn-contact-conf {
    width: 20em;
  }
  .grid-item-2 {
    width: 11em;
    height: 19em;
  }
  .jackets-for-grid.jacket-others {
    width: 8em;
    height: auto;
  }
  .grid-item-paragraph {
    font-size: 0.8em;
  }
}
@media (max-width: 724px) {
  .icon-text {
    display: none;
  }

  .search-bar {
    width: 16em;
    height: 2.2em;
  }

  #header {
    position: relative;
  }
  .nav-div4 {
    padding-right: 1.25em;
  }

  .nav-div2 {
    align-self: start;
    position: absolute;
    background-color: var(--background-color);
    top: 1.25em;
    left: 1.5em;
    z-index: 1;
  }
  .cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1.25em;
  }
  .cart-3,
  .cart-2,
  .cart-1 {
    justify-self: center;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-us-item-2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image-display-none {
    display: none;
  }
  .btn-contact-conf {
    width: 20em;
  }

  .btn-sign-up {
    width: 7em;
  }
  .product-info {
    align-self: center;
  }
  .product-details-heading {
    font-size: 1.8em;
  }
  .select-paragraph {
    font-size: 1.25em;
  }
  .wash-instruction {
    font-style: 1.5em;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
  }
  .navbar-menu a {
    color: black;
    text-decoration: none;
    font-size: 1.4em;
  }
  .navbar-logo {
    width: 40%;
  }

  .navbar-menu.active {
    display: flex;
    gap: 3em;
    padding: 3em;
  }
  .icon {
    padding: 0.5em;
  }
  .icons {
    margin: 0.3em;
    justify-content: center;
    align-items: center;
  }

  .navbar-menu li {
    margin: 10px 0;
  }
  .navbar-toggle {
    display: flex;
    cursor: pointer;
    padding: 10px;
  }

  .active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .active .bar:nth-child(2) {
    opacity: 0;
  }

  .active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/***********************Small tablet*******************************/

@media (max-width: 680px) {
  .contact-box-2 {
    width: 28em;
  }

  #header {
    position: relative;
  }
  .nav-div4 {
    padding-right: 1.25em;
  }
  .buy-now {
    width: 12em;
  }
  .nav-div3 {
    margin-right: 2.5em;
  }
  .sign-up-box {
    padding: 0;
    width: 28em;
    height: 22em;
  }
  h1 {
    font-size: 2em;
  }
  .image-1-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1em;
  }
  .image-1 {
    width: 16em;
    height: auto;
  }

  .nav-div3 {
    margin-right: 0.6em;
  }

  .jacket-heading {
    margin: 0;
    margin-left: 1.25em;
    margin-top: 1.25em;
    font-size: 1.5em;
  }
  .sign-up-break {
    width: 100%;
    object-fit: cover;
  }
  .sign-up-text {
    font-size: 1em;
  }
  .payment-item-1,
  .payment-item-2 {
    align-self: center;
    width: 30em;
  }

  .image-gallery-1 {
    width: 30em;
  }
  .contact-input {
    width: 29em;
  }
  .btn-contact {
    width: 25em;
  }
  .btn-contact-conf {
    width: 20em;
  }
  .contact-h4 {
    font-size: 1.6em;
  }
  .live-icon {
    padding-left: 3em;
  }
  .contact-span {
    padding-right: 3em;
  }
  .product-details-heading {
    font-size: 1.6em;
  }
  .hero-header {
    margin-left: 1em;
  }
  h2 {
    font-size: 2.5em;
  }
  .card {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .footer-box {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 3fr;
  }
  .payment-input {
    width: 22em;
  }
  .imageDetail {
    height: 20em;
    margin-bottom: 2em;
  }
  .live-icon {
    padding-left: 0;
  }
  .contact-span {
    padding-right: 2em;
  }
  .at-circle {
    display: none;
  }
  .email {
    display: none;
  }
  .icon-inner {
    width: 50%;
  }
  .sign-up-box {
    padding: 0;
    width: 27em;
    height: 20em;
  }
  h3 {
    font-size: 22px;
  }
  .product-cart-asset {
    width: 15em;
  }

  .div-box-social-media {
    height: max-content;
  }
  .checkout-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .horizontal-line {
    width: 5em;
  }
  .checkout-icon {
    width: 3em;
  }
  .checkout-paragraph {
    display: none;
  }
  .feature {
    gap: 3em;
  }
  .image-1-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1em;
  }
  .image-1 {
    width: 14em;
  }
  .nav-div3 {
    margin-right: 0.6em;
  }
  .search-bar {
    width: 16em;
    height: 2.2em;
  }
  .feature {
    gap: 1.9em;
  }
  .feature-paragraph {
    font-style: 0.5em;
  }
  .sign-up-break {
    width: 100%;
    object-fit: cover;
  }
  .sign-up-text {
    font-size: 1em;
  }
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image-gallery-1 {
    width: 24em;
  }
  .btn-contact-conf {
    width: 20em;
  }
  .component1 {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 540px) {
  .checkout-icon {
    width: 2.7em;
  }
  .horizontal-line {
    width: 4em;
  }
  .payment-item-1,
  .payment-item-2 {
    align-self: center;
    width: 24em;
  }

  .grid-item-2 {
    height: 11em;
  }
  .grid-item-paragraph {
    padding-left: 2.3em;
  }
  .contact-input {
    width: 25em;
  }
  .btn-contact {
    width: 22em;
  }
  .contact-box-2 {
    width: 25em;
  }
  .btn-contact-conf {
    width: 20em;
  }
  .image-gallery-1 {
    width: 21em;
  }
  .about-us-item-2 {
    margin: 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-item {
    width: 15em;
    height: 28em;
  }
  .jackets-for-grid {
    margin-bottom: 0.2em;
    height: 16em;
    width: auto;
  }
  .jackets-for-grid.jacket-others {
    width: 12em;
    padding-bottom: 2em;
  }
  .cart-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
  }
  h2 {
    margin-top: 1em;
  }
  .section-break {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .payment-input {
    width: 17em;
  }
  .contact-span {
    font-size: 0.8em;
    padding-right: 3em;
  }
  .contact-span-2 {
    font-size: 0.8em;
    padding-right: 1em;
  }

  .jacket-price-new {
    font-size: 1.5em;
  }
  .jacket-name {
    font-size: 1.5em;
  }
  .color {
    width: 2em;
    height: 2em;
  }
  .box-for-asset {
    width: 20em;
    height: 22em;
  }
  .checkout-icon {
    width: 2.7em;
  }
  .horizontal-line {
    width: 4em;
  }
  .checkout-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-1-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1em;
  }
  .image-1 {
    justify-content: center;
    align-self: center;
    width: 21em;
  }

  .feature {
    gap: 1.6em;
  }
  .feature-paragraph {
    font-style: 0.5em;
  }
  .nav-div3 {
    margin-right: 0.6em;
  }
  .search-bar {
    width: 16em;
    height: 2.2em;
  }

  .feature-paragraph {
    font-size: 0.7em;
  }
  .div-for-buy-now {
    display: flex;
    justify-content: center;
  }
  .checkout-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h4 {
    margin-left: 0;
  }
  .sign-up-text {
    font-size: 0.8em;
  }
  .div-text-product-others {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .payment-container {
    margin-top: 22em;
  }
  .product-detail-h4 {
    margin-top: 6.2em;
    margin-left: 1.7em;
    font-size: 1.25em;
  }
  .contact-input {
    width: 22em;
  }
  .btn-contact {
    width: 19em;
  }
  .contact-box-1 {
    width: 24em;
  }
  .contact-box-2 {
    width: 22em;
  }
  .checkout-span {
    font-size: 0.6em;
  }
  .btn-contact-conf {
    width: 20em;
  }
  .contact-conf-h1 {
    font-size: 1.7em;
  }
  .sign-up-box {
    width: 20em;
  }
  #name {
    width: 20em;
  }
  #name-input {
    width: 20em;
  }
  h3 {
    font-size: 1.1em;
  }
  .section-break-icon {
    width: 1em;
    height: 1em;
  }

  .span-paragraph {
    font-size: 0.8em;
  }
}
@media (max-width: 434px) {
  .payment-item-1,
  .payment-item-2 {
    width: 18em;
  }

  .image-gallery-1 {
    width: 19em;
  }
  .checkout-icon {
    width: 2.7em;
  }
  .horizontal-line {
    width: 4em;
  }
  .checkout-span {
    font-size: 0.6em;
  }
  .h8 {
    font-size: 1em;
    margin-left: 2em;
  }
  .jacket-heading {
    margin: 0;
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.5em;
  }
  .product-detail {
    margin-left: 1.25em;
  }
  .sign-up-text {
    font-size: 0.7em;
    font-weight: 0;
  }
  .horizontal-line {
    width: 5em;
  }
  .contact-input {
    width: 19em;
  }
  .btn-contact {
    width: 17em;
  }
  .contact-box-1 {
    width: 20em;
  }
  .contact-box-2 {
    padding-left: 1.2em;
    width: 18em;
  }
  .maps {
    width: 20em;
    height: auto;
  }
  .icon-div-1 {
    width: 5em;
  }
  .bigger-box {
    width: 21em;
  }
  .smaller-box {
    width: 21em;
  }
  .image-text-small {
    padding: 0;
  }
  .unique-7 {
    padding-bottom: 0.5em;
  }
  .image {
    height: 12em;
  }
  .footer-box {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 3fr;
  }
}
/***********************Small mobile*******************************/

@media (max-width: 375px) {
  .checkout-icon {
    width: 2.7em;
  }
  .horizontal-line {
    width: 4em;
  }

  #header {
    position: relative;
  }
  .nav-div4 {
    padding-right: 20px;
  }

  .hero-header {
    margin: 3em;
  }
  .feature {
    gap: 25px;
    justify-content: center;
  }
  .feature-paragraph {
    display: none;
  }

  .span-paragraph {
    font-size: 12px;
  }
  .h3 {
    font-size: 18px;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .jacket-heading {
    margin-bottom: 0;
    margin-left: 1.7em;
    font-size: 1.4em;
  }
  .buy-now {
    margin-left: 0;
  }
}
