html {
  font-family: "Ibarra Real Nova", serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

#logo {
  max-width: 183px;
  height: auto;
  stroke: white;
  margin-top: 20px;
  margin-left: 70px;
}

#navbar {
  background-color: rgb(152, 126, 136);
  max-width: auto;
  height: 141px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 18px;
}

.home-link {
  margin-left: 70px;
}

.search-bar {
  width: 568px;
  height: 50px;
  position: absolute;
  left: 48%;
  right: 0.11%;
  top: 49%;
  bottom: 1.96%;
  border-radius: 5px;
  outline: none;
  border-style: none;
}
