html {
  font-family: "Ibarra Real Nova", serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: src= "images/woman-sitting-mountain-top.jpg";
}

#navbar {
  display: flex;
  background-color: rgb(152, 126, 136);
  width: 100%;
  height: 142px;
  justify-content: space-between;
  align-content: stretch;
  gap: 20px;
}
#logo {
  max-width: 183px;
  height: auto;
  stroke: white;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.nav-links {
  text-decoration: none;
  color: white;
  display: inline;
  padding-right: 40px;
  align-self: stretch;
  font-size: 18px;
  flex-grow: 3;
  justify-content: center;
}

.search-bar {
  width: 400px;
  height: 50px;

  border-radius: 5px;
  outline: none;
  border-style: none;
  justify-content: center;
  flex-grow: 8;
  align-self: flex-end;
}

.nav-icons {
  margin-right: 40px;
  margin-top: 20px;
  width: 21px;
  height: 21px;
  stroke: white;
  color: white;
  flex-shrink: 0;
}

h1 {
  font-family: ibarra real nova;
  font-weight: 700;
  position: absolute;
  left: 200px;
  top: 400px;
  font-size: 64px;
  text-align: center;
}

.CTA-button {
  width: 261px;
  height: 67px;
  position: absolute;
  left: 400px;
  top: 800px;
  border-radius: 25px;
  font-size: 20px;
  font-family: roboto;
  font-weight: 500;
  text-transform: uppercase;
  border-style: none;
}

.feature {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 100px;
  align-items: center;
  gap: 70px;
  justify-content: center;
  margin-bottom: 40px;
}

.feature-icon {
  margin-top: 40px;

  width: 27px;
  height: 27px;
  background-color: rgba(217, 217, 217);

  border: 5px solid rgba(217, 217, 217);
  border-radius: 100%;
  padding: 5px;
  align-self: center;
}
.feature-box {
  text-align: center;
  height: 180px;
  padding: 40px;
  margin-top: 40px;

  justify-items: center;
  align-self: center;
}

.feature-paragraph {
  font-size: 12px;
  align-self: center;
}

.component1 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: max-width;
  height: 330px;
  background-color: rgba(217, 217, 217);
  gap: 70px;
  padding-top: 40px;
}

.component-text {
  text-align: center;
  font-weight: 500;

  font-size: 20px;
  padding: 0px;
}

h2 {
  font-family: ibarra real nova;
  font-size: 96px;
  margin: 0;
}
.button-shop-now {
  width: 182px;
  height: 54px;
  border-radius: 17px;
  font-size: 18px;
  border: 1px solid transparent;
  background-color: rgb(225, 136, 133);
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.button-shop-now:hover {
  background-color: rgb(225, 154, 151);
}

.assets-jacket {
  width: 270px;
  height: auto;
}

.component1-paragraph {
  text-align: right;
  padding: 0px;
}

.jacket-price-old {
  text-align: end;
  margin: 0;
}

.jacket-price-new {
  font-weight: 700;
  font-size: 24px;
  color: rgb(216, 38, 38);
  margin: 0;
  text-align: end;
  margin-bottom: 20px;
}
.discount-box {
  display: flex;
  justify-content: center;
  width: 154px;
  height: 39px;
  left: 1292.58px;
  position: absolute;
  left: 89.39%;
  right: 0%;
  top: 0%;
  bottom: 88.18%;
  background-color: rgb(216, 38, 38);
}
.discount-paragraph {
  text-align: center;

  font-weight: 700;
  font-size: 32px;
}
