.detailCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
  border: 2px solid #efede9;
  width: 80%;
}
.imageDivLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
.imgDetail {
  width: 100%;
}
.divPrice {
  margin-top: 0;
}
.btnAddToBag {
  width: 80%;
  padding: 1em;
  margin: 2em;
  background-color: black;
  color: white;
  border: none;
}
